<template>
	<div align="right">
		<i class="mdi mdi-cart mdi-36px"></i>
		<p>Всего в корзине <strong>{{total.count}}</strong> товаров.</p>
		<p>Итого <strong>$ {{total.summ}}</strong></p>
		<button v-show="total.count > 0" class="uk-button uk-button-primary" @click="goToComponent('order-page')">Перейти к оформлению заказа</button>
	</div> 
</template>

<script>
import mixins from '../mixins'

export default {
	mixins: [mixins],
    name: 'cart',
	methods: {
		goToComponent(val) {
			this.$emit('goToComponent', val);
		}
	}
}
</script>