<template>
	<dl class="uk-description-list-line">
		<template v-for="item in goods">
			<dt>
				<div class="uk-grid">
					<div class="uk-width-2-4">
						<h3 style="cursor: pointer" @click="selectItem(item.url)">{{item.name}}</h3>
					</div>
					<div class="uk-width-1-4">
						<h3>$ {{item.price}}</h3>
					</div>
					<div class="uk-width-1-4">
						<button 
							class="uk-button uk-button-danger" 
							v-if="inCart(item.url)" 
							@click="addToCart(item)">Убрать из корзины</button>
						<button 
							class="uk-button uk-button-success" 
							v-else 
							@click="addToCart(item)">В корзину</button>
					</div>
				</div>
			</dt>
			<dd :class="{'closed': item.url !== currentItemUrl}">
				<p v-for="(val, prop) in item" v-if="rules(val, prop)">{{prop|propNameFilter}} : {{valueHandler(val, prop)}}</p>
			</dd>
		</template>
	</dl>
</template>

<script>
import mixins from '../mixins'

export default {
    name: 'main-page',
	mixins: [mixins],
    data () {
		return {
			currentItemUrl: ''
		}
  	},
	computed: {
		goods() {
			return this.$store.state.goods;
		}
	},
	methods: {
		inCart(url) {
			return (this.cart && this.cart[url]) ? true : false;
		},
		selectItem(url) {
			this.currentItemUrl = (this.currentItemUrl === url) ? '' : url;
		},
		valueHandler(val, prop) {
			if (prop == 'created' || prop == 'edited') {
				try {
					let date = new Date(val);
					val = ('0'+date.getDate()).substr(-2)+'-'+('0'+(date.getMonth()+1)).substr(-2)+'-'+date.getFullYear();
				} catch (e) {}
			}
			return val;
		},
		rules(val, prop) {
			let out = true;
			if (prop == 'name') out = false;
			if (prop == 'price') out = false;
			if (prop == 'url') out = false;
			if (typeof(val) !== 'string') out = false;
			return out;
		}
	},
	filters: {
		propNameFilter(val) {
			return val.replace(/_/ig, ' ');
		}
	}
}
</script>

<style scoped>
	dd.closed {
		display: none;
	}
</style>