<template>
	<div>
		<ul class="uk-list uk-list-line uk-width-medium-1-3">
			<li v-for="item in cart">{{item.name}} <i style="float: right; cursor: pointer" @click="addToCart(item)" class="mdi mdi-delete"></i></li> 
		</ul>
		<p>Итого: $ {{total.summ}}</p>
		<button class="uk-button uk-button-primary" data-uk-modal="{target:'#order-modal'}">Оформить заказ!</button>
		<div id="order-modal" class="uk-modal">
			<div class="uk-modal-dialog">
				<a class="uk-modal-close uk-close"></a>
				<form class="uk-form uk-form-stacked" @submit.stop.prevent="sendOrder()">
					<div class="uk-form-row">
						<label class="uk-form-label" for="form-s-fio">Фио</label>
						<div class="uk-form-controls">
							<input type="text" id="form-s-fio" v-model="customer.name" placeholder="Иванов Олег Иванович">
						</div>
					</div>
					<div class="uk-form-row">
						<label class="uk-form-label" for="form-s-address">Адрес доставки</label>
						<div class="uk-form-controls">
							<input type="text" id="form-s-address" v-model="customer.address" placeholder="Москва, ул. Двадцати шести бакинских коммисаров, 25">
						</div>
					</div>
					<div class="uk-form-row">
						<label class="uk-form-label" for="form-s-date">Дата доставки</label>
						<div class="uk-form-controls">
							<input type="text" id="form-s-date" v-model="customer.date" placeholder="12-01-2019">
						</div>
					</div>
					<div class="uk-modal-footer uk-text-right">
						<button type="submit" class="uk-button uk-button-primary">Подтвердить заказ</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
import mixins from '../mixins'

export default {
	mixins: [mixins],
		name: 'order-page',
		data() {
			return {
				customer: {
					name: '',
					address: '',
					date: ''
				}
			}
		},
		methods: {
			sendOrder() {
				this.$store.commit('CLEAR_CART');
				this.$emit('goToComponent', 'main-page');
			}
		}
	}
</script>