<template>
	<div id="app">
		<div class="uk-container uk-grid">
			<div class="uk-width-2-3"> 
				<component :is="compName" @goToComponent="goToComponent"/>
			</div>
			<div class="uk-width-1-3"> 
				<cart v-show="compName !== 'order-page'" @goToComponent="goToComponent"/> 
			</div>
		</div>
	</div>
</template>

<script>
import mixins from './mixins'
import OrderPage from './components/OrderPage'
import MainPage from './components/MainPage'
import Cart from './components/Cart'

export default {
	mixins: [mixins],
	name: 'App',
	data() {
		return {
			// состояние приложения зависит от этой переменной
			compName: 'main-page'
		}
	},
	components: {
		OrderPage,
		MainPage,
		Cart
	},
	mounted() {
		// сразу при ините получаем товары
		this.getGoods();
	},
	methods: {
		goToComponent(val) {
			this.compName = val;
		},
		getGoods() {
			// отправляем браузер в рекурсивный сеттаймаут
			this.$store.dispatch('updateGoods')
			.then(()=>{
				setTimeout(()=>{
					this.getGoods();
				}, 60000);
			})
			.catch((e)=>{
				console.warn(e);
				setTimeout(()=>{
					this.getGoods();
				}, 60000);
			})
		}
	}
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
